*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #353434;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: #ebe7d3;
}
nav ul{
    display: flex;
    justify-content: space-between;
    gap: 50px;
}
nav ul li{
    list-style: none;
    font-size: 22px;
}
nav ul li a{
    text-decoration: none;
    color: #000;
}
.icon{
    height: 40px;
    width: 40px;
}
.menu{
    display: none; 
}
@media (max-width: 600px){
    nav ul{
        position: absolute;
        top:70px;
        left:0;
        right:0;
        flex-direction: column;
        text-align: center;
        background-color: #ebe7d3;
        overflow: hidden;
    }
    nav ul li{
        padding: 10px;
    }
    .menu{
        display: block;
        
    }
    #menuList{
        transition: all 0.5s;
    }
}