body{
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
    background-color: #f1f1f1;
    margin:0;
}
header{
    height: 10vh;
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #fff;
    position: sticky;
    top:0;
    
}
input{
    width: 550px;
    height: 40px;
    font-size: 20px;
    padding-left: 50px;
    background-color: #e7f2f4;
    border: none;
    margin-left: 30px;
    border-radius: 6px;
}
.search-icon{
    position: relative;
    right:584px;
}
.header-icons{
    display: flex;
    gap: 10px;
    padding: 10px;
    margin-left: 20px;
}
.icon1{
    margin-top: 6px;
}
.icon2+span{
    margin-top: 5px;
}
.icon3+span{
    margin-top: 5px;
}
.menu{
    margin-left: 100px;
}
nav{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 10px;
    background-color: #fff;
}
nav p{
    font-size: 16px;
}
main{
    background-color: #f1f1f1;
}
section{
    padding: 10px;
}
section img{
    width: 100%;
    border-radius: 8px;
}
.images img{
    width: 33%;
    border-radius: 8px;
}
article{
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 8px;
    position: fixed;
    right: 22px;
    bottom: 10px;
}
article div{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.like_dislike{
    border: 1px solid #5575d7;
    padding: 10px 30px;
    color: #5575d7;
}
footer{
    background-color: #000;
    color: #fff;
    padding: 40px;
    display: flex;
    justify-content: center;
    gap: 50px;
}
li{
    list-style-type: none;
}