<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
        background-color: #a9def0;
        font-size: 18px;
    }
    form{
        background-color: #ffffff;
        width: 500px;
        line-height: 30px;
        border-radius: 9px;
        margin-left: 470px;
        margin-top: 50px;
        padding: 20px;
        text-align: center;
    }
    </style>
</head>
<body>
    <form>
        <h2>Update Your Password</h2>
        <label for="email">Email Address:</label>
        <input type="email" name="email"><br>

        <label for="password">Password:</label>
        <input type="password" name="password"><br>

        <button type="submit" formaction="./updated.html" style="border: none;font-size: 16px;padding: 9px; background-color: #a9def0; color: #1e1b1b">Update</button>
    </form>
</body>
</html>