<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Chemistry Question Papers</title>
        <style>
            body{
                width: 700px;
                margin-left: 400px;
            }
            h1{
                text-align: center;
            }
            hr{
                background-color: #000;;
            }
            p{
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Chemistry Question Paper</h1>
            <p>Subject : Maths</p>
            <p>class-VII</p>
        </header>
        
        <p>Time: 1-30 Hrs</p>
        <hr/>
        <h4><u>General Instructions</u></h4>
        <p>Note: All questions are compulsory. Marks are given each questions.</p>
        <p>1. Two bulbs B<sub>1</sub> and B<sub>2</sub>of equal capacity contains 10g oxygen (O<sub>2</sub>) and ozone (O<sub>3</sub>) respectively. Which bulb will have greater number of oxygen atoms?</p>
        <p>2. Which of the following species has the largest and smallest size? Mg, Mg<sup>2+</sup>, AI, AI<sup>3+</sup></p>
        <p>3. Derive a relation between C<sub>p</sub> and C<sub>v</sub>for one mole of an ideal gas.</p>
        <p>Which isomerism is possible with molecule formula C<sub>2</sub>H<sub>6</sub>O<sub>2</sub></p>
        </p>
        <p>5. What is 5<sup>3</sup></p>
        <p>In wich reaction intermediate, the hydridization of centeral C-atom is <q>sp</q></p>
        
        
    </body>
</html>
   