<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Maths Question Papers</title>
        <style>
            body{
                width: 600px;
                margin-left: 500px;
            }
            h1{
                text-align: center;
            }
            hr{
                background-color: #000;;
            }
            p{
                font-weight: 600;
            }
        </style>
    </head>
    <body>
        <header>
            <h1>Mathematics Question Paper</h1>
            <p>Subject : Maths</p>
            <p>class-VII</p>
        </header>
        
        <p>Time: 1-30 Hrs</p>
        <hr/>
        <h4><u>General Instructions</u></h4>
        <p>Note: All questions are compulsory. Marks are given each questions.</p>
        <p>1. Write the additive inverse of 10 and -6</p>
        <p>2. Write examples of proper fraction and improper fraction.</p>
        <p>3. Write mode of 2, 3, 5, 3, 2,7, 3, 5, 2, 3, 7</p>
        <p>4. Write down a pair of integers whose:
            <p>(i) sum is -7</p>
            <p>(ii) difference is 3</p>
        </p>
        <p>5. What is 5<sup>3</sup></p>
        <p>6. if x=3 is one of the roots of the quadratic quation x<sup>2</sup>-2kx-6=0, then the value of k is <br>
        <p>a) 1/2 b)1/2 c)3 d) 2</p></p>

        <p>7. if two positive integers a and n are written as a = x<sup>3</sup>y<sup>2</sup> and b=xy<sup>3</sup>;x,y are prime numbers, then HCF (a,b) is: <br>
            <p>a)xy b)xy<sup>2</sup> c)x<sup>3</sup>y<sup>3</sup> d)x<sup>2</sup>y<sup>2</sup></p><br>
        <p>a) 1/2 b)1/2 c)3 d) 2</p></p>

        <p>6. if x=3 is one of the roots of the quadratic quation x<sup>2</sup>-2kx-6=0, then the value of k is <br>
        <p>a) 1/2 b)1/2 c)3 d) 2</p></p>
        
    </body>
</html>