div > h1{
    border-style: dashed;
    border-width: 5px;
    background-color: #fff;
    border-color: rgb(194, 177, 156);
    
}

div p{
    border-style: dotted;
    border-width: 6px;
    background-color: azure;
    border-color: palevioletred;
}
div ~ h3{
    background-color: rgb(211, 196, 131);
    border-style: dashed dotted double solid;
    border-width: 5px;
    border-color: #c53d3d;
}

div + h3{
    border-style: double;
    border-width: 6px;
    border-color: blueviolet;
    background-color: lightslategray;
    color: #fff;
}

div ~ h4{
    border-style: dashed;
    border-width: 3px;
    border-color: salmon;
}
